body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

button {
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #292929;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 0;
}

.title {
  font-weight: bold;
  color: #ff9800;
}

.pills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.pill {
  background-color: #292929;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  width: 25%;
  text-align: center;
}

.pill:hover {
  background-color: #ce7b00;
}

.option-name {
  margin: 0px;
}

.indicator {
  height: 3px;
  background-color: #878684;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease, width 0.3s ease;
}

.logout-btn {
  background-color: #fff;
  border: 1px solid transparent;

}

.REMOVE-THIS {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 25%;
  margin-left: 10px;
}

.REMOVE-THIS p {
  font-weight: 600;
  margin-top: 5px;
}

.REMOVE-THIS button {
  width: 25%;
  font-weight: bold;
  background-color: #303030;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 5px;
}